<div id="ps-<%= params[:id] %>">
  <div class="ps" style="width: 750px;">
    <%- @photoset.photos.each do |p| -%>
     <img src="<%= p.source("Large") %>" rel="<%= p.source("Square") %>" />
    <%- end -%>
  </div>
</div>
