<div id="ps-<%= params[:id] %>">
  <div class="ps">
    <%- @photoset.photos.each do |p| -%>
     <img src="<%= p.source("Large") %>" rel="<%= p.source("Square") %>"></img>
    <%- end -%>
  </div>
</div>
