body {
  background: #333 url(/images/bg.jpg) no-repeat 50% 0;
  font-family: Verdana,Arial,sans-serif;
  font-size: 12px;
}

.page {
  width: 772px; margin: 1.5em auto 0;
  background: transparent url(/images/title.png) no-repeat 0 0;
}
.footer {
  color: #ddd; margin-top: 10px;
  text-shadow: rgba(0, 0, 0, 1) -1px -1px 0px;
}

.ui-tabs { background: none; border: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  padding: 0; font-size: 1em; padding-top: 10px; }
.ui-tabs .ui-tabs-nav { background: none; border: none; padding: 0;
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
.ui-tabs .ui-tabs-panel { background: #fff; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
.ui-tabs .ui-tabs-nav li { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  top: 0; margin: 0 0 0 1em; background: none; border: none;
  float: right;
}
.ui-tabs .ui-tabs-nav li a { padding: 0; }
.ui-tabs .ui-tabs-nav li a div { height: 40px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding: 0; }
.ui-tabs .ui-tabs-nav li a div.home {
  width: 45px;
  background: transparent url(/images/title/home.png) no-repeat 0 0;
}
.ui-tabs .ui-tabs-nav li.ui-state-hover a div.home { background-image: url(/images/title/home_hover.png); }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a div.home { background-image: url(/images/title/home_selected.png); }
.ui-tabs .ui-tabs-nav li a div.portraits {
  width: 60px;
  background: transparent url(/images/title/portraits.png) no-repeat 0 0;
}
.ui-tabs .ui-tabs-nav li.ui-state-hover a div.portraits { background-image: url(/images/title/portraits_hover.png); }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a div.portraits {
  background-image: url(/images/title/portraits_selected.png);
}
.ui-tabs .ui-tabs-nav li a div.weddings {
  width: 70px;
  background: transparent url(/images/title/weddings.png) no-repeat 0 0;
}
.ui-tabs .ui-tabs-nav li.ui-state-hover a div.weddings { background-image: url(/images/title/weddings_hover.png); }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a div.weddings {
  background-image: url(/images/title/weddings_selected.png);
}

.ui-tabs .ui-tabs-panel {
  padding: 10px 10px 70px; background-color: #000;
  border: 1px solid #aaa;
  -webkit-box-shadow: #000 0px 4px 20px;
  -moz-box-shadow: #000 0px 4px 20px;
}

.ui-tabs .ui-tabs-panel .ps {
  width: 750px;
  height: 500px;
}

.ui-tabs .ui-tabs-panel .ps .nivo-controlNav {
  position: absolute;
  bottom: -60px;
  text-align: center;
  width: 750px;
}

.ui-tabs .ui-tabs-panel .ps .nivo-controlNav img { position: static; width: 50px; height: 50px; margin-right: 10px; }
.ui-tabs .ui-tabs-panel .ps .nivo-controlNav a.nivo-control.active img { outline: #aaa solid 2px; }


.photoset { overflow: hidden; }
.photoset .thumb-container { float: left; width: 260px; }
.photoset .thumb-container .thumbs { overflow: hidden; width: 220px; }
.photoset .thumb-container .thumbs li { float: left; margin: 0 2px 2px 0; }
.photoset .thumb-container .thumbs li a { float: left; width: 50px; height: 50px; }
.photoset .thumb-container .thumbs li img { width: 50px; height: 50px; }
.photoset .thumb-container .controls { overflow: hidden;}
.photoset .thumb-container .controls .ss-controls { float: left; }
.photoset .thumb-container .controls .ss-controls a { width: 16px; height: 16px; text-indent: -5000px; display: block;
  border: 1px solid #cb672b;
  background: transparent url(/images/jqueryui/ui-icons_cb672b_256x240.png) no-repeat 0 -160px; }
.photoset .thumb-container .controls .ss-controls a.pause {
  background-position: -16px -160px; }
.photoset .thumb-container .logo { width: 260px; height: 300px;
  background: transparent url(/images/logo.png) no-repeat 0 0; }
.photoset .slideshow { float: right; width: 780px; height: 513px; text-align: center; }
.photoset .slideshow a { text-decoration: none; }
.photoset .slideshow img { max-width: 770px; max-height: 513px; }

#thumbshome .thumb { display: none; }